{% assign title = site.title %}
{% if page.title %}
    {% assign title = page.title %}
{% elsif page.tag %}
    {% if site.tag_meta[page.tag].title %}
        {% assign title = site.tag_meta[page.tag].title %}
    {% else %}
        {% capture title %}Posts Tagged {{ page.tag }}{% endcapture %}
    {% endif %}
{% endif %}

{% assign description = site.description %}
{% if page.subtitle %}
    {% assign description = page.subtitle %}
{% endif %}

{% assign page_date = site.time %}
{% if page.date %}
    {% assign page_date = page.date %}
{% endif %}
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <meta name="author" content="{{ site.author.name }}" />

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
  <link rel="apple-touch-icon" type="image/png" href="/img/giving-jar-icon-180.png">
  <link rel="icon" type="image/png" href="/img/giving-jar-icon-196.png">

  <link rel="stylesheet" href="/css/fonts/font-awesome-4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/fonts/estrangelo/EstrangeloEdessaRegular.css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

  <meta property="article:modified_time" content="{{ page_date | date: "%F" }}T00:00:00-00:00" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:title" content="{{ title | strip | strip_newlines | truncate: 70 }}" />
  <meta name="twitter:description" value="{{ description | escape }}" />

  {% seo %}
</head>
