<ul class="list-inline text-center web-links">
  {% if include.home %}
  <li>
    <a target="_blank" href="{{ include.home }}" title="Homepage" class="home">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.facebook %}
  <li>
    <a target="_blank" href="https://www.facebook.com/{{ include.facebook }}" title="Facebook" class="facebook">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.twitter %}
  <li>
    <a target="_blank" href="https://twitter.com/{{ include.twitter }}" title="Twitter" class="twitter">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.instagram %}
  <li>
    <a target="_blank" href="https://instagram.com/{{ include.instagram }}" title="Instagram" class="instagram">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.flickr %}
  <li>
    <a target="_blank" href="https://www.flickr.com/photos/{{ include.flickr }}" title="Flickr" class="flickr">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.pinterest %}
  <li>
    <a target="_blank" href="https://www.pinterest.com/{{ include.pinterest }}/" title="Pinterest" class="pinterest">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.gplus %}
  <li>
    <a target="_blank" href="https://plus.google.com/+{{ include.gplus }}/" title="Google+" class="gplus">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.youtube %}
  <li>
    <a target="_blank" href="https://www.youtube.com/user/{{ include.youtube }}" title="YouTube" class="youtube">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
  {% if include.vimeo %}
  <li>
    <a target="_blank" href="https://vimeo.com/{{ include.vimeo }}/" title="Vimeo" class="vimeo">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  {% endif %}
</ul>
